.message {
    height: 90vh;
    position: fixed;
    top: 50px;
    padding: 20px;
    overflow: auto;
    font-family: 'Tinafont', sans-serif;
    color: white;
}

.message h3 {
    color: white;
}

.message p {
    color: white;
}

@font-face {
    font-family: 'Tinafont';
    src: url("./Tinafont-Regular.ttf") format("truetype");
}
