.message {
    height: 90vh;
    position: fixed;
    top: 50px;
    padding: 20px;
    overflow: auto;
    font-family: Tinafont, sans-serif;
    color: white;
    & h3 {
        color: white;
    }

    & p {
        color: white;
    }

}

@font-face {
    font-family: 'Tinafont', sans-serif;
    src: url("Tinafont-Regular.woff2") format("truetype");
}

/* Estilo para el botón */
.button button {
    background-color: #FF8DA1FF; /* Fondo amarillo */
    border: none; /* Sin bordes */
    padding: 10px 20px; /* Ajusta el relleno según tu preferencia */
    font-size: 18px; /* Tamaño de fuente */
    cursor: pointer;
    left: 150px;
    top: 110px;
    position: fixed; /* Necesario para el resplandor */
    border-radius: 20px; /* Esquinas redondeadas */
    transition: background-color 0.3s ease-in-out; /* Transición suave para el color de fondo */
}

/* Estilo para el enlace dentro del botón */
.button button a {
    text-decoration: none; /* Elimina el subrayado del enlace */
    color: inherit; /* Hereda el color del texto del botón */
}

/* Efecto de resplandor al pasar el cursor sobre el botón */
.button button:hover {
    background-color: #FF8DA1FF; /* Cambia el color de fondo al pasar el mouse a naranja */
    box-shadow: 0 0 10px #6c3baa, 0 0 20px #6c3baa, 0 0 30px #6c3baa; /* Efecto de resplandor amarillo */
}

/* Estilo para el botón */
.button-1 button {
    background-color: #FF8DA1FF; /* Fondo amarillo */
    border: none; /* Sin bordes */
    padding: 10px 20px; /* Ajusta el relleno según tu preferencia */
    font-size: 18px; /* Tamaño de fuente */
    cursor: pointer;
    left: 150px;
    top: 50px;
    position: fixed; /* Necesario para el resplandor */
    border-radius: 20px; /* Esquinas redondeadas */
    transition: background-color 0.3s ease-in-out; /* Transición suave para el color de fondo */
}

/* Estilo para el enlace dentro del botón */
.button-1 button a {
    text-decoration: none; /* Elimina el subrayado del enlace */
    color: inherit; /* Hereda el color del texto del botón */
}

/* Efecto de resplandor al pasar el cursor sobre el botón */
.button-1 button:hover {
    background-color: #FF8DA1FF; /* Cambia el color de fondo al pasar el mouse a naranja */
    box-shadow: 0 0 10px #6c3baa, 0 0 20px #6c3baa, 0 0 30px #6c3baa; /* Efecto de resplandor amarillo */
}


